@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
*{
	font-family: 'Roboto', sans-serif;
}
body{
	text-align: center;
	margin: 0;
}
table{
	width: 600px;
	height: 900px;
	background: black;
	margin: 0.5% auto;
}
td{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.img1{
	background-image: url("img/pic1.png");
}
.img2{
	background-image: url("img/pic2.PNG");
}
.img3{
	background-image: url("img/pic3.png");
}
.fixed{
	background-image: url("img/header.jpg");
	height: 769px;
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
}
hr{
	width: 600px;
	height: 10px;
	background: black;
	margin: 1.5% auto;
}
h1{
	margin-bottom: 0;
}